@import url("./_footer");
@import url("./_navbar");
@import url("./_section-health");
@import url("./_section-hero");
@import url("./_section-motivation");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 1rem;
    line-height: calc(2px + 1.1rem + 2px);
    scroll-behavior: smooth;
    color: #000;
    text-rendering: optimizeLegibility;
    cursor: default;
    --primary: #e5e5e5;
    --secondary: #2945ff;
    --third: #045c14;
    --black: #000;
  }
}

@layer base {
  html {
    @apply font-medium;
  }
}

*,
*::after,
*::before {
  @apply m-0 box-border p-0;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  @apply bg-black text-primary;
}

.image-container {
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.image-container video {
  height: auto;
  width: 100%;
}

.image-container h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

.image-container p {
  margin-top: 0.5rem;
}

.image-container button {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.visible {
  transform: translateY(0) skewY(0) !important;
}

.strong {
  color: rgba(42, 69, 255, 1);
}

.cursor {
  height: 96px;
  width: 96px;
  z-index: 99999;
  background: var(--secondary);
  position: fixed;
  border-radius: 50%;
  will-change: transform;
  pointer-events: none;
  transition: background-color 0.4s ease-in-out;
}

.cursor::after {
  position: absolute;
  content: "run";
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.cursor.hover {
  background-color: black !important;
}

.cursor.hover::after {
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .cursor {
    display: none;
  }
}
